body {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif; }

ul {
  list-style-type: none;
  padding: 0; }

.list-group-item--custom {
  list-style: disc;
  margin-left: 20px; }

.content {
  width: 100%;
  margin: 0px auto 80px; }
  @media screen and (min-width: 575px) {
    .content {
      margin-top: 80px; } }
  @media screen and (min-width: 575px) {
    .content--small-margin {
      margin-top: 165px; } }
  @media screen and (min-width: 769px) {
    .content--small-margin {
      margin-top: 125px; } }

.row {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1440px; } }

.card {
  padding: 20px;
  color: #fff; }
  .card a {
    color: #fff; }
  .card .card-title {
    font-size: 21px;
    text-align: center; }

header {
  position: none;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1000; }
  header a {
    color: #fff; }
  header .nav-pills > li > a {
    border-radius: 0; }
  @media screen and (min-width: 576px) {
    header {
      position: fixed;
      background-color: #0b5300; } }

.navigation {
  max-width: 1440px;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: 0 auto;
  color: #fff;
  text-align: center; }
  .navigation--desktop {
    display: none; }
    @media screen and (min-width: 576px) {
      .navigation--desktop {
        display: flex;
        display: -webkit-flex; } }
  @media screen and (min-width: 576px) {
    .navigation {
      -webkit-flex-direction: row;
      flex-direction: row; } }

.navbar {
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 100%;
  font-family: 'Roboto Slab', serif; }
  .navbar ul {
    -webkit-padding-start: 0; }
  .navbar a:hover, .navbar a:active {
    color: #fff; }
  .navbar .navbar-nav {
    width: 100%; }
  .navbar .nav-item {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    text-align: center; }
  @media screen and (min-width: 769px) {
    .navbar {
      -webkit-flex-direction: row;
      flex-direction: row;
      font-size: 14px; } }

@media screen and (min-width: 576px) {
  .navbar-expand-sm .navbar-nav {
    justify-content: space-around;
    -webkit-justify-content: space-around; } }

.navbar-brand {
  margin-right: 0;
  font-family: 'Roboto Slab', serif; }
  @media screen and (min-width: 769px) {
    .navbar-brand {
      margin-right: 1rem; } }

a.dropdown-item:hover {
  color: #333; }

.dropdown-toggle::after {
  display: block;
  margin: 0 auto; }

.header-contact {
  margin: 24px 0;
  font-size: 16px;
  font-family: 'Roboto Slab', serif; }
  .header-contact a {
    padding: 0 10px; }
    .header-contact a:hover {
      color: #fff; }

.navigation--mobile {
  color: #fff; }
  @media screen and (min-width: 576px) {
    .navigation--mobile {
      display: none; } }

.slider {
  margin-top: 0; }
  .slider .carousel-caption h3 {
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    color: #fff;
    text-shadow: 2px 2px #000; }
  .slider .carousel-caption p {
    text-shadow: 2px 2px #000; }
  .slider .carousel-item img {
    width: 100%; }
  .slider .slider-image {
    display: none; }
  @media screen and (min-width: 576px) {
    .slider {
      margin-top: 40px; }
      .slider .carousel-caption h3 {
        font-size: 80px; } }
  @media screen and (min-width: 768px) {
    .slider .slider-image {
      display: block; }
    .slider .slider-image-mobile {
      display: none; } }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  background-color: #0b5300;
  color: #fff; }
  footer p {
    margin: 0;
    padding: 10px 0; }

/*# sourceMappingURL=application.css.map */
