.content {
    width: 100%;
    margin: 80px auto 80px;

    &--small-margin {
    
        @media screen and (min-width: 575px) {
            margin-top: 165px;
        }
    
        @media screen and (min-width: 769px) {
            margin-top: 125px;
        }
    }
}


.row {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.container {
    @media screen and (min-width: 1200px) {
        max-width: 1440px;
    }
}

.card {
    padding: 20px;
    color: $white;

    .card-title {
        font-size: 21px;
        
        text-align: center;
    }
}

