.slider {
    margin-top: 40px;

    .carousel-caption {
        h3 {
            font-size: 80px;
            font-family: 'Roboto Slab', serif;
            color: $black;
        }
    }
}